/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* primary colors */
  --primary-blue: #0986fb;
  --white: #ffffff;
  --light-gray: #e5e5ea;
  --black: #000000;

  /* input colors */
  --input-light-gray: #e1f0ff;

  /* border colors */
  --border-light-gray: #eeeeee;
  --border-gray: #e8e8e8;
  --border-feint-gray-4: rgba(0, 0, 0, 0.04);
  --border-feint-gray-5: rgba(0, 0, 0, 0.05);

  /* button colors */
  --btn-white: #fffefe;

  /* background colors */
  --bg-light-gray: #fbfbfb;
  --bg-gray-1e: #1e1e1e;

  /* icon colors */
  --icon-green: #34c759;
  --icon-red: #ea4335;
  --icon-gray: #48484a;

  /* fonts */
  --font-std-2: 0.125em;
  --font-std-4: 0.25em;
  --font-std-5: 0.3125em;
  --font-std-6: 0.375em;
  --font-std-7: 0.4375em;
  --font-std-10: 0.625em;
  --font-std-12: 0.75em;
  --font-std-14: 0.875em;
  --font-std-15: 0.9375em;
  --font-std: 1em;
  --font-std-17: 1.0625em;
  --font-std-18: 1.125em;
  --font-std-19: 1.1875em;
  --font-std-20: 1.25em;
  --font-std-24: 1.5em;
  --font-std-27: 1.6875em;
  --font-std-28: 1.75em;
  --font-std-29: 1.8125em;
  --font-std-30: 1.875em;
  --font-std-38: 2.375em;
  --font-std-39: 2.4375em;
  --font-std-40: 2.5em;
  --font-std-47: 2.9375em;
  --font-std-49: 3.0625em;
  font-family: "Figtree", sans-serif;
}

/* Set font size and line height */
html {
  font-size: 16px;
  font-style: normal;
  height: 100vh;
}

/* Default element styling */

a {
  text-decoration: none;
  margin: 0;
}

button {
  border: none;
}

/* placeholder default */
::placeholder {
  font-size: var(--font-std-14);
  line-height: var(--font-std-17);
  font-weight: 400;
  color: #a0a0a5;
}

/* Style the container */
.container-left {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1.1875rem;
}

/* Style the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--font-std-39);
}

main.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  height: 100vh;
  font-size: 1rem;
}

.return-button {
  font-size: 0.9375rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.375rem;
  height: 2.375rem;
  background-color: var(--white);
  border: 0.38px solid var(--light-gray);
  box-shadow: 0px 1px 25px -4px var(--border-feint-gray-5);
}

/* avatar section */
section.avatar_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--font-std-20);
}

.avatar_section button {
  background-color: var(--white);
  height: var(--font-std-38);
  width: 7.1875rem;
  border: 0.5px solid var(--border-gray);
  border-radius: 0.375rem;
  font-size: var(--font-std-15);
  line-height: var(--font-std-18);
  font-weight: 400;
  margin-bottom: var(--font-std-20);
}

/* option section */
section.option_section {
  height: 10.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid var(--border-gray);
  border-radius: 0.375rem;
}

.option_section a {
  color: var(--black);
  font-weight: 400;
  line-height: var(--font-std-19);
  letter-spacing: -0.24px;
  margin-top: var(--font-std-47);
  font-size: 1em;
}

.option_section .passwd:hover{
  color: var(--primary-blue);
}

.option_section a.red {
  color: var(--icon-red);
  margin-top: var(--font-std-30);
  margin-bottom: var(--font-std-47);
}

section.para-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.para-text p {
  font-size: var(--font-std-15);
  line-height: var(--font-std-18);
  font-weight: 400;
  letter-spacing: -0.24px;
  width: 16.5rem;
  text-align: center;
  color: #a0a0a5;
  margin-top: 5.0625rem;
}

/*style the footer*/
.kudi-logo {
  margin-top: auto;
  align-self: center;
  margin-bottom: var(--font-std-28);
  display: flex;
  align-items: center;
  gap: 0.4625em;
}

.kudi-logo img {
  height: var(--font-std-20);
}
